body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c49216 ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.itemList {
  display: flex;
  justify-content: center;
}

.allCaps {
  display: flex;
  justify-content: center;
}

.rotate:hover {
  animation: rotation 8s infinite linear;
}

.rotateLogo {
  animation: rotation 8s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0px 0px -100px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#navBarMain a:hover {
  background-color: #4f3a07;
  color: white;
}

#navBarMain .active {
  background-color: #4f3a07;
  color: white;
}

#navBarMain {
  background-color: #f0e7d1;
}

#navBarMobile {
  background-color: #4f3a07;
  color: white;
}

#navBarMobile a:hover {
  background-color: #f0e7d1;
  color : black;
}

#navBarMobile .active {
  background-color: #f0e7d1;
  color : black;
}

#navBarMobile a {
  color : white;
}

#navBarMain a {
  color : black;
}

.mobile-footer {
  background-color: #f0e7d1;
  color : black;
}

#repository-button {
  background-color:#4f3a07;
  border-color:#4f3a07 ;
  color : white;
}

.display-4 {
  background-color: #f0e7d1;
}

#button-desc{
  padding-left: 15px;
}

#input-filter-body{
  background-color:#4f3a07;
}





